/* ====== RESET BÁSICO ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
}

body {
background: linear-gradient(
  180deg,
  #381c84,
  #5a3fbf
);
  color: #0d0d0d;
  height: 100vh;
}

/* ====== TIPOGRAFIA ====== */
h1, h2, h3, p {
  line-height: 1.3;
}

h1 {
  font-size: 2.2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

h3 {
  font-size: .7rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  color: #333;
}

/* ====== INPUT ====== */
input[type="text"], input[type="email"], input[type="number"], textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  font-size: 1rem;
  background-color: white;
  outline: none;
  transition: 0.2s;
}

input:focus, textarea:focus {
  border-color: #123a63;
  box-shadow: 0 0 0 3px rgba(18, 58, 99, 0.15);
}

/* ====== BOTÃO ====== */
button {
  padding: 10px 18px;
  font-size: .7rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #312E81; /* Azul escuro */
  color: white;
  transition: 0.2s;
  width: 100%;

}

button:hover {
  background-color: #123a63;
}

button:active {
  transform: scale(0.97);
}

/* ====== BOX SHADOW PADRÃO ====== */
.bx-sh {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}


.title-w{
  color: white;
  font-size: 1.5rem;
}
.subtitle-w{
    color: white;
    font-size: .8rem;
}

.blue-1{
  color: 312E81;
}

.field label {
  min-width: 60px; /* alinha todas as labels */
  text-align: right; /* opcional */
  font-size: .7rem;
  opacity: 80%;
}